.DialogItemBox {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.DialogItemLink {
    text-decoration: none;
    color: black;
}
.DialogItemLink:hover {
    cursor: pointer;
}

a.active {
    font-weight: 700;
    color: lightseagreen;
    font-size: 17px;
}

