.user_box {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
}

.img {
    width: 60px;
    height: 60px;
}

.user_info_box {
    outline: 1px solid grey;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    min-width: 400px;
}
.follow_btn {
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 600;
    width: 70px;
    height: 25px;
    color: white;
    background-color: #63a484;
    margin-top: 5px;
}
.follow_btn:hover {
    cursor: pointer;
}

.page_number {
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
}

.selected_page {
    font-weight: 900;
}