.header {
    grid-area: header;
    outline: 1px solid black;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 100px;
}

